<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KnowledgeTree - Context Graph</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="container">
        <header>
            <h1><i class="fas fa-sitemap"></i> KnowledgeTree</h1>
            <nav id="breadcrumb"></nav>
        </header>
        <main id="file-browser-container">
            <div id="file-browser">
                </div>
        </main>
    </div>

    <div id="context-menu" class="context-menu">
        <ul>
            <li id="context-open"><i class="fas fa-folder-open"></i> Open</li>
            <li id="context-rename"><i class="fas fa-edit"></i> Rename</li>
            <li id="context-delete"><i class="fas fa-trash"></i> Delete</li>
            <hr>
            <li id="context-new-folder"><i class="fas fa-folder-plus"></i> New Folder</li>
            <li id="context-new-attached"><i class="fas fa-paperclip"></i> New Attached Folder</li>
            <li id="context-new-article"><i class="fas fa-file-medical"></i> New Knowledge</li>
        </ul>
    </div>

    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
